.landing {
    margin: 0px;
    min-height: 100vh;
    background-image: url("./media/landing.png");
    background-size: 1550px 800px;
    text-align: left;
    color: rgb(0, 0, 0);
}
.nosotros {
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.438);
    text-align: center;
}