.contenedor{
  display: flex;
  justify-content: center;
  align-items: center;
}

.tamano img{
  width: fit-content;
  height: fit-content;
}

.contenedor-imagen{
  border: 5px solid black;
  width: fit-content;
  height: fit-content;
}



.imagen{
  max-width: 94vw;
  max-height: 81vh;
}


.prev-next{
  color: black;
}

