.modal-products{
  position: relative;
  height: 65vh;
  width: 65vh;
  background-color: #5ec59f ;
  /* top: 15px;
  left: 315px ; */
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 10px; 
}

.closeIconP:hover {
  transition: 0.2s;
  color: #387b62;
  cursor: pointer;
}