.name-row {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
}

.fullname input {
  width: 10rem;
  margin: 0 1rem;
}

.lapicito {
  margin: 0 1rem;
  display: flex;
  align-items: center;
}

.email {
  width: 20rem;
}

.cuerpo-carta {
  width: fit-content;
  padding: 1rem 6rem 1rem 1rem;
}