.contenedor-detalle{
  background-color: rgb(208, 250, 237);
  min-height: 100vh; 
}

.img-detail{
  border: 2px solid rgb(61, 56, 56);
}

.info{
  background-color: #d7edfd;
}

.question-text{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 1rem;
}

.alinear-pregunta{
  display: flex;
  align-items: center;
  flex-direction: column;
}