.adminBoard {
  display: flex;
  /* align-items: center; */
  justify-content: left;
  width: fit-content;
  height: fit-content;
  position: absolute;
  /* display: flex; */
  /* align-items: center; */
}

.leftNavBar{
  border-radius: 0px 60px 0px 0px;
  background-color: #2b4883;
  height: fit-content;
  width: fit-content;
  padding: 10px;
  margin-top: 10px;
}

.adminButton{
  width: 200px;
  border: 2px solid #2b4883 ;
  border-radius: 20px ;
  height: 35px;
  background-color:#5ec59f;
  font-weight: 600;
  font-size: 15px;
  color:#2b4883;

}
.buttons {
  margin-top: 15px;
  margin-left: 3px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.profile{
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #5ec59f ;
  border-radius: 10px;
}

.creationButtons{
  display: flex;
  gap: 10px;
  flex-direction: column;
  
}

.showButtons {
  display: flex;
  gap: 10px;
}

.showSections{
  margin-left: 8px;
  margin-bottom: 30px;
}

.categoriesList{
  display: flex;
  flex-direction: column;
  gap: 5px;

}

.categoriesItem{
  display: flex;
  background-color: #2b4883;
  border-radius: 10px;
  padding: 5px;
  width: 300px ;
  justify-content: space-between;
  align-items: center;
  color: #5ec59f ;
}

.productsList{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.productsItem{
  display: flex;
  background-color: #2b4883;
  border-radius: 10px;
  padding: 5px;
  width: 400px ;
  justify-content: space-between;
  align-items: center;
  color: #5ec59f ;
}


.showProducts-grid{
  margin-left: 15px;
  background-color:#5ec59f;
  border-radius: 20px;
  height: fit-content;
  width: fit-content;
  /* overflow: scroll; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}


.showCategories{
  margin-left: 15px;
  background-color:#5ec59f;
  border-radius: 20px;
  height: 300px;
  width: 750px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.close{
  align-self: flex-start;
  margin: 0;
  height: 40px;
  width: 20px;
  color: #2b4883

}

.grid-products{
  height: 60vh;
  width: 60vh;
}

.modals{
  margin: 1rem;
}

.adminButton:hover {
  opacity: 50%;
}

.adminButton:focus {
  background-color: rgb(68, 142, 212);
}