.tarjeta1 {
  border: 1px solid black;
  background-color: rgb(255, 255, 255);
}

.tarjeta:hover {
  box-shadow: 8px 5px 10px rgb(5, 5, 5);
}

.img-detail {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.323);
}

