.mainCart{
  padding: 15px;
  display: flex;
  gap: 200px;
}

.cartCardsList{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cartOrder{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 13px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  padding: 10px;
  min-height: 150px;
  max-height: 200px;

  
}

.clearCart{
background: #FF4742;
border: 1px solid #FF4742;
border-radius: 6px;
box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
box-sizing: border-box;
color: #FFFFFF;
cursor: pointer;

}

.checkoutButton {
background-color: initial;
background-image: linear-gradient(-180deg, #00D775, #00BD68);
border-radius: 5px;
box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
color: #FFFFFF;
cursor: pointer;
height: 44px;
padding: 0 20px;
border: none;

}

.checkoutButton:hover {
background: #00bd68;
}


.productShower{
 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;

}
