
.adminBoard {
    width: 100vw;
    height: 100vh;
}

.adminButton{
    width: 150px;
    height: 60px;
}
.buttons {
    margin-top: 15px;
    margin-left: 10px;
    display: flex;
    gap: 10px;
}

.creationButtons{
    display: flex;
    gap: 10px;
    
}

.showButtons {
    display: flex;
    gap: 10px;
}