
.productModal {
    position: absolute;
    min-height: 400px ;
    width: 50%;
    background-color: #5ec59f ;
    /* top: 15px;
    left: 315px ; */
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 10px;
}

.showProductModal{
    position: absolute;
    /* min-height: 400px; */
    max-height: 100vh;
    background-color: #5ec59f ;
    /* top: 15px;
    left: 315px ; */
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 10px; 
  }

.closeIconP{
    width: 30px;
    height: 30px;
    color: #2b4883;
}
.formContainerP{
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 10px;
}

.formInputP{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.labelP{
    color:#2b4883;
}
.inputP{
    border: none;
    height: 25px;
    background-color: #5ec59f ;
    border: 2px solid #2b4883 ;
    border-radius: 5px;
    padding: 0px 10px;
    color: #2b4883;
}

.inputP:focus{
    background-color: white;
    color: black;
}

.productButton{
    border: 2px solid #2b4883 ;
    border-radius: 20px ;
    width: 100px;
    align-self: center;
    height: 35px;
    background-color:#5ec59f;
    font-weight: 600;
    font-size: 15px;
    color:#2b4883;
    margin-top: 10px;
}

.productButton:hover {
    background-color:#2b4883;
    border: none;
    color:#5ec59f;
}

.grid{
    height: 70vh;
    width: 70vh;
}

.modify-user-modal{
    position: relative;
    background-color: #5ec59f ;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 10px;
}