.contenedor-filtros{
  background-color: rgb(214, 208, 208);
}
.filterCategories{
background-color: #0077B6;
}
.orders{
  background-color: #03045E;
}
.colorletra{
  color: rgb(253, 253, 253);
}

.input-filter{
  margin-top: 10px;
}
