.contenedor-filtros{
  background-color: rgb(214, 208, 208);
}
.filterCategories{
  background-color: rgba(108, 228, 120, 0.418);

}
.orders{
  background-color: rgba(41, 221, 245, 0.306);
}
.colorletra{
  color: rgb(199, 199, 199);
}