.navbar{
  background-color: rgba(1, 47, 73, 0.979);
  align-items: center;
  justify-content: space-between;
  color: antiquewhite;
}
.letras{
  color: antiquewhite;
}
input {
  max-width: 250px;
}

@media screen and (max-width: 767px){
  .clase-logo {
    display: none;
  }
}